extends layout
block links
    link(rel="stylesheet", href="/css/login.css")

block content
    .fullscreen.white-text.ubuntu(style='background:#6747CD')
        .row(style='margin:0px')
            .col.l4
            .col.s12.l4.left(style='margin-top:50px')
                img(src="/images/iconsvgwhite.svg", alt="", width="100")

                h1.bold
                    | CYSTA
                h3.bold
                    | Welcome Back,
                h5.light
                    | Sign in to Continue

                .container
                    .row.container(style='margin-top:10px')
                        form.col.s12(action='/checklogindetails',method='POST')
                            .row
                                .input-field.col.s12
                                    input#email.validate(type='email', name='email')
                                    label(for='email') Email
                                    span.helper-text(data-error='Try Entering an valid email Address') 

                                .input-field.col.s12
                                    input#password.validate(type='password', name='password')
                                    label(for='password') Password

                                .col.s6(style='padding:0px')
                                    .right(style='padding:0px')
                                        button.btn.waves-effect.waves-light.white(type='submit', value='submit', style='color: #6747CD')
                                            | login
                                .col.s6(style='padding:0px')
                                    .left(style='padding:0px')
                                        a.waves-effect.waves-light.btn.white(style='color: #6747CD', href="/signup") Sign Up

                                a(href="#")
                                    p.right.white-text 
                                        | Forgot Password ??
            
    
    
   
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")